<!DOCTYPE html>
<html>
<head>
  <title>LightItUp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul id="slide_list">
<% @slideshow.slides.each_with_index do |slide,index| %>
  <% if index == 0 %>
  <div id="slide<%= index + 1 %>" class="active" style="width: <%= @slideshow.px_width %>px; height: <%= @slideshow.px_height %>px">
  <% else %>
  <div id="slide<%= index + 1 %>" class="hidden" style="width: <%= @slideshow.px_width %>px; height: <%= @slideshow.px_height %>px">
  <% end %>
    <div class="slide-object draggable"></div>
    <div class="slide-object draggable"></div>
    <div class="slide-object draggable"></div>
    <div class="slide-object draggable"></div>
  </div>

<% end %>
</ul>

<%= flash[:notice] %>
<%= yield %>

</body>
</html>