<h3><%= @user.email.capitalize %> Your Page</h3>

<% if @slideshows.any? %>
<h3>Your slideshows</h3>
<ul>
  <% @slideshows.each do |slideshow| %>
  <li> <%= link_to slideshow.name, slideshow %> </li>
  <% end %>
</ul>
<% end %>


<%= link_to 'Homepage', root_path %>

<%= link_to 'Create new slideshow', new_slideshow_path %>


<%= link_to "Update Account Info", edit_user_path(@user) %>

 <%= link_to 'Delete Account', user_path, method: :delete, data: { confirm: 'Are you sure you want delete your account?' } %>

