<h3><%= @user.email.capitalize %> Your Page</h3>

<% unless @slideshows == nil %>
<h3>Your slideshows</h3>
<table>
  <thead>
    <tr>
      <th>Slideshow</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @slideshows.each do |slideshow| %>
    <tr>
      <td><%= link_to slideshow.name, slideshow %></td>
      <td>
        <%= link_to "edit", edit_slideshow_path(slideshow) %>
        <%= link_to "cast", slideshow_path(slideshow) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>


<%= link_to 'Homepage', root_path %>

<%= link_to 'Create new slideshow', new_slideshow_path %>


<%= link_to "Update Account Info", edit_user_path(@user) %>

 <%= link_to 'Delete Account', user_path, method: :delete, data: { confirm: 'Are you sure you want delete your account?' } %>

